
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order_Meal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        
    </div>
</div>

<div>
    <a asp-controller="Orders" asp-action="Index" l>Back to List</a>
</div>

