<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Core</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Core.styles.css" asp-append-version="true" />
</head>
<body   style="background-color:chocolate">
     <div class="text-center bg-dark m-4  ">
      
        <h1 class="text-warning " style="font-family:PMingLiU-ExtB"> °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°  مطعم تاج حلب °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°</h1>
    </div>
        <div class="navbar  navbar-expand-sm  bg-dark text-white border-bottom box-shadow mb-3">
            <div class="container-fluid ">

			<div class=" d-sm-inline-flex justify-content-between">
               
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                       
                    </ul>
                </div>
            </div>
        </div>

    <div class="containe ">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
